html,
body,
#root {
  height: 100%;
}

ul,
ol {
  list-style: none;
}

.ant-layout-header {
  background: #72b1eb;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #b3dcf4;
}
